.burger {
  z-index: 1;
  cursor: pointer;
  height: 16px;

  @media #{$m-from-horizontal-phone} {
    display: none;
  }

  &__line {
    display: block;
    width: 16px;
    height: 3px;
    background-color: $c-font-text;
    border-radius: 1px;
    transition: .1s all;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}
