.content-main {
  margin-bottom: 31px;

  @media #{$m-from-laptop} {
    margin-bottom: 0;
  }

  &__header {
    display: none;
    
    @media #{$m-from-laptop} {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__block {
    min-height: 282px;
    max-width: 100%;
    border-radius: 20px;
    padding: 20px;
    padding-right: 0;
    position: relative;

    @media #{$m-from-laptop} {
      max-height: 330px;
      display: flex;
      justify-content: space-between;
      padding: 25px 20px 0 25px;
    }
  }

  &__scroll-button {
    display: none;

    @media #{$m-from-laptop} {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 26px;
      cursor: pointer;
      width: 200px;
      height: 40px;
      background-color: $c-background-panel;
      border-radius: 20px 20px 0 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__hello {
    margin-bottom: 5px;
  }

  &__status {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__weather {
    display: flex;
  }

  &__weather-block {
    margin-right: 20px;
  }

  &__weather-place {
    margin-bottom: 5px;
  }

  &__temperature-block {
    display: flex;
    justify-content: flex-end;
  }

  &__weather-temperature {
    margin-right: 5px;
  }

  .panel {
    @media #{$m-from-laptop} {
      &__list {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        margin-top: -6px;
      }
  
      &__item {
        margin-bottom: 30px;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
  }
}