.content-scripts {
  margin-bottom: 25px;

  @media #{$m-from-laptop} {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 14px;

    @media #{$m-from-laptop} {
      display: flex;
      justify-content: space-between;
    }
  }

  &__arrows {
    display: none;

    @media #{$m-from-laptop} {
      display: flex;
      align-items: flex-end;
      margin-right: 6px;
    }
  }

  &__arrow {
    cursor: pointer;
    display: none;

    &.show {
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &--right {
      transform: rotate(180deg);
      margin-left: 23px;
    }
  }

  &__body {

  }

  &__panels-container {
    @media #{$m-from-laptop} {
      display: flex;
    }
  }

  &__panel-list {
    @media #{$m-from-laptop} {
      width: 646px;
      flex-shrink: 0;

      &:not(:first-child) {
        // display: none;
      }
    }
  }

  .panel {
    &__list {
      margin-left: -6px;
    }
  }

  @media #{$m-from-laptop} {
    .panel {
      &__list {
        flex-wrap: wrap;
      }

      &__item {
        margin-bottom: 15px;
        height: 100px;
        flex-shrink: 0;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}
