.content-devices {
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 17px;

    @media #{$m-from-laptop} {
      justify-content: flex-start;
    }
  }

  &__title {
    @media #{$m-from-laptop} {
      margin-right: 13px;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(-100%) translateX(12.5%);
    position: absolute;
    top: 0;
    right: 0;

    @media #{$m-from-laptop} {
      flex-direction: row;
      position: static;
      transform: none;
    }

    &.open {
      .content-devices__menu-list-item {
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-name: menu;
            animation-duration: 750ms - 150 * $i;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            
            @media #{$m-from-laptop} {
              animation: none;
            }
          }
        }
      }
    }
  }

  &__title {
    display: inline;
  }

  &__menu-list-item {
    border-radius: 20px;
    background-color: $c-devices-menu-item;
    color: $black;
    font-size: 13px;
    padding: 7px 16px;
    cursor: pointer;
    text-align: center;
    transition: .2s all;
    backface-visibility: hidden;
    transform: rotateX(90deg);

    &.picked {
      background-color: $c-devices-menu-item-yellow;
    }

    @media #{$m-from-laptop} {
      transform: none;
      margin-right: 10px;
    }
  }

  &__menu-list-item-all {
    border-radius: 20px;
    background-color: $c-devices-menu-item;
    color: $black;
    font-size: 13px;
    padding: 7px 16px;
    cursor: pointer;
    text-align: center;
    transition: .2s all;
    backface-visibility: hidden;
    transform: rotateX(90deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $c-devices-menu-item;
    opacity: 1;
    visibility: visible;
    transform: none;

    @media #{$m-from-laptop} {
      transform: none;
      margin-right: 10px;
    }

    &.picked {
      background-color: $c-devices-menu-item-yellow;
    }

    span {
      margin-right: 5px;

      @media #{$m-from-laptop} {
        margin-right: 0;
      }
    }

    img {
      transform: rotate(180deg);

      @media #{$m-from-laptop} {
        @include visually-hidden;
      }
    }
  }

  .panel__list {
    margin-left: -6px;
    @media #{$m-from-laptop} {
      overflow: visible;
    }
  }

  &__checkbox {
    @include visually-hidden;

    &.kitchen:checked ~ :not([data-filter*="kitchen"]) {
      display: none;
    }

    &.hall:checked ~ :not([data-filter*="hall"]) {
      display: none;
    }

    &.lamp:checked ~ :not([data-filter*="lamp"]) {
      display: none;
    }

    &.camera:checked ~ :not([data-filter*="camera"]) {
      display: none;
    }
  }

  .panel__item {
    &.display-none {
      display: none;
    }
  }
}

@keyframes menu {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
