.panel {
  &__list {
    overflow: auto;
    padding: 6px;
    display: flex;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { width: 0; }
  }
  
  &__item {
    flex-shrink: 0;
    width: 200px;
    height: 120px;
    background-color: $c-background-panel;
    border-radius: 20px;
    display: inline-block;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      background-color: $background-white;
      box-shadow: 0 2px 6px  0 rgba(197, 186, 186, .5);
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__text {
    margin-top: auto;
  }
}