.popup {
  position: absolute;
  height: 120px;
  width: 200px;
  transition: .5s all;
  z-index: 1;
  overflow: hidden;
  margin: 20px;
  display: block;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar { width: 0; }

  &.show {
    display: block;
    position: fixed;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    overflow-y: scroll;

    @media #{$m-from-laptop} {
      width: 630px;
      height: auto;
      left: 50%!important;
      top: 50%!important;
      transform: translate(-50%, -50%);
      overflow-y: auto;
    }

    .popup__content-container {
      height: 490px;
      border-radius: 20px;
      background-color: $background-white;
      margin-bottom: 15px;
      padding: 20px;
      display: flex;
      flex-direction: column;

      @media #{$m-from-laptop} {
        height: 240px;
      }

      @media #{$m-from-laptop} {
        &.floor {
          height: 345px;
        }
      }
    }

    &.visible {
      .popup__header {
        opacity: 1;
      }
  
      .popup__choice {
        opacity: 1;
      }
  
      [class^="popup__content--"] {
        opacity: 1;
      }
  
      .popup__accept {
        opacity: 1;
      }
  
      .popup__close {
        opacity: 1;
      }
    }
  }

  &.hide {
    display: none;
  }

  &__content {
    &--floor {
      background: url(../assets/background.svg) center, url(../assets/OvalCopy.png) 88% 67%, url(../assets/Oval.png) center;
      background-repeat: no-repeat;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 66px;
      width: 264px;
      margin: 0 auto;
      opacity: 0;
      transition: 1.5s all;
      
      @media #{$m-from-laptop} {
        background: url(../assets/background.svg) center center no-repeat, url(../assets/OvalCopy.png) 88% 86%, url(../assets/Oval.png) center center;
        background-repeat: no-repeat;
      }
    }

    &--temp {
      margin: 0 auto;
      flex-grow: 1;
      width: 60px;
      height: 100%;
      background-image: linear-gradient(to bottom, #F76B1C, #FFD800, #068FFF);
      border-radius: 35px;
      position: relative;
      opacity: 0;
      transition: 1.5s all;

      @media #{$m-from-laptop} {
        max-height: 60px;
        width: 100%;
        background-image: linear-gradient(to left, #F76B1C, #FFD800, #068FFF);
      }

      &:before {
        position: absolute;
        top: 15px;
        left: 50%;
        content: '+30';
        transform: translateX(-50%);
        color: $white;
        display: block;
        font-size: 18px;
        
        @media #{$m-from-laptop} {
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
      }

      &:after {
        position: absolute;
        bottom: 15px;
        left: 48%;
        transform: translateX(-50%);
        content: '-10';
        color: $white;
        display: block;
        font-size: 18px;
        
        @media #{$m-from-laptop} {
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }
      }
    }
    
    &--light {
      margin: 0 auto;
      flex-grow: 1;
      width: 60px;
      height: 100%;
      background-image: linear-gradient(to bottom, #FFB100, #FFE88C);
      border-radius: 35px;
      position: relative;
      opacity: 0;
      transition: 1.5s all;

      @media #{$m-from-laptop} {
        max-height: 60px;
        width: 100%;
        background-image: linear-gradient(to left, #FFB100, #FFE88C);
      }

      &:before {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        content: url('../assets/icon_sun_max.svg');
        color: $white;
        display: block;
        font-size: 18px;

        @media #{$m-from-laptop} {
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
      }

      &:after {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        content: url('../assets/icon_sun_min.svg');
        color: $white;
        display: block;
        font-size: 18px;

        @media #{$m-from-laptop} {
          left: auto;
          top: 39%;
          transform: translateY(-50%);
          left: 20px;
        }
      }
    }
  }

  &__lever {
    width: 70px;
    height: 70px;
    border: 4px solid #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #e8ad00;
    cursor: pointer;
    z-index: 100;

    @media #{$m-from-laptop} {
      left: auto;
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
    }
  }

  &__header {
    color: $c-font-text;
    transition: 1.5s all;
    margin-bottom: 15px;
    opacity: 0;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;

    @media #{$m-from-laptop} {
      font-size: 27px;
    }
  }
  
  &__status {
    font-size: 12px;
    font-weight: 400;

    @media #{$m-from-laptop} {
      font-size: 14px;
    }
  }

  &__choice {
    transition: 1.5s all;
    margin-bottom: 25px;
    display: flex;
    opacity: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { width: 0; }

    @media #{$m-from-laptop} {
      overflow-x: auto;
    }
  }

  &__choice-item {
    display: block;
    border-radius: 20px;
    padding: 7px 14px 19px;
    font-size: 13px;
    color: $black;
    margin-right: 10px;
    background-color: $c-choice-item;
    cursor: pointer;

    @media #{$m-from-laptop} {
      padding: 7px 15px;
    }

    &.active {
      background-color: $background-yellow;
    }
  }

  &__accept {
    margin-bottom: 15px;
    padding: 20px 0;
    width: 100%;
    background-color: $background-yellow;
    display: block;
    text-align: center;
    border-radius: 20px;
    transition: 1.5s opacity;
    cursor: pointer;
    opacity: 0;

    @media #{$m-from-laptop} {
      width: calc(50% - 8px);
      display: inline-block;
      margin-right: 16px;

      &:hover {
        background-color: #fafa00;
      }
    }
  }

  &__close {
    margin-bottom: 15px;
    padding: 20px 0;
    background-color: $background-white;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 1.5s opacity;
    transition: 0 background-color;
    opacity: 0;

    @media #{$m-from-laptop} {
      width: calc(50% - 8px);
      display: inline-block;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
