/* Media quiries */
$m-from-laptop: screen and (min-width: 1366px);
$m-to-laptop: screen and (max-width: 1366px);
$m-from-tablet: screen and (min-width: 768px);
$m-to-tablet: screen and (max-width: 768px);
$m-from-horizontal-phone: screen and (min-width: 550px);
$m-to-horizontal-phone: screen and (max-width: 550px);
$m-from-mobile: screen and (min-width: 320px);
$m-to-mobile: screen and (max-width: 320px);

/* Fonts */
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

/* Colors  */
$c-font-status: #858585;
$c-font-inactive: #858585;
$c-arrow-disable: #c2c2c2;
$c-arrow-enable: #333;
$c-font-location-device: #858585;
$c-font-text: #333;
$c-hr-line: #f0f0f0;
$c-background-panel: #f0f0f0;
$c-devices-menu-item: #f7f7f7;
$c-devices-menu-item-yellow: #ffd93e;

/* Simple colors */
$white: #fff;
$background-white: #fff;
$black: #000;