.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  flex-wrap: wrap;

  @media #{$m-from-mobile} {
    flex-wrap: nowrap;
  }

  &__list {
    margin-right: 30px;
    margin-bottom: 20px;

    @media #{$m-from-mobile} {
      margin-bottom: 0;
    }
  }

  &__item {
    color: $c-font-status;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
