<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/main.css")
    title Яндекс.Музыка
  body.page
  header.page__header.header
    a.header__logo(href="#")
      img(src="./assets/Яндекс дом.svg", alt="")

    nav.header__nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link.active(href="#") Сводка
        li.nav__item
          a.nav__link(href="#") Устройства
        li.nav__item
          a.nav__link(href="#") Сценарии

    .header__burger.burger
        span.burger__line
        span.burger__line
        span.burger__line

    script(src="./js/main.js")
